body {
	padding-top: 50px;
	font-family: 'Poppins', sans-serif;
	font-size: .9em;
	text-align: center;
	background-color: #d1d0c6;
}

.navbar-brand {
	font-family: 'EB Garamond', serif;
	font-variant: small-caps;
	font-size: 2em;
}

.nav-item {
	padding-left: 10px;
	padding-right: 10px;
}

.nav-link {
	font-size: 1.1em;
}

.jumbotron {
	background: url(../img/homepageGraphic.jpg) no-repeat center;
}

.logo {
	margin-top: 50px;
	padding-bottom: 30px;
	text-align: center;
}

.joinbtn {
	text-align: center;
	font-size: 3.4em;
	font-family: 'Libre Caslon Display', serif;
	font-variant: small-caps;
	color: #FDFBFA;
}

/* Link attributes */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Flexbox Section */
.containerProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img.transPic {
  width: 300px;
  height: 400px;
  margin: 15px;
  transition: all 1s;
}

img.transPic:hover {
  transform: scale(1.1);
}


/* Footer Section */
footer {
	clear: both;
	text-align: center;
}