/* Top Navigation Section */

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #91908d;
}

.brand {
	cursor: pointer;
  	text-align: center;
  	margin-left: 0px;
  	margin-right: 0px;
	transition: all 0.3s linear;
}

.container {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr;
  	font-family: 'Poppins', sans-serif;
  	color: #2c1801;
  	cursor: pointer;
}

.navlink {
  	text-align: center;
	font-size: 1em;
	transition: all 0.3s linear;
}
